{% extends 'base.html' %}
{% block content %}
<style>
    .hide {
        display: none;
    }
</style>
<div class="container px-5 my-5">
    <form id="contactForm" data-sb-form-api-token="API_TOKEN" action="." method="post" >
        {% csrf_token %}
        <div class="form-floating mb-3">
            {{user_form.username}}
            <label for="{{user_form.username.id_for_label}}">Username</label>
            {% if user_form.errors.username %}
                {% for error in user_form.errors.username %}
                    <div class="text-danger error-message">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-floating mb-3">
            {{user_form.first_name}}
            <label for="{{user_form.first_name.id_for_label}}">First Name</label>
            {% if user_form.errors.first_name %}
                {% for error in user_form.errors.first_name %}
                    <div class="text-danger error-message">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-floating mb-3">
            {{user_form.last_name}}
            <label for="{{user_form.last_name.id_for_label}}">Last Name</label>
            {% if user_form.errors.last_name %}
                {% for error in user_form.errors.last_name %}
                    <div class="text-danger error-message">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-floating mb-3">
            {{user_form.email}}
            <label for="{{user_form.email.id_for_label}}">Email Address</label>
            {% if user_form.errors.email %}
                {% for error in user_form.errors.email %}
                    <div class="text-danger error-message">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-floating mb-3">
            {{user_form.password}}
            <label for="{{user_form.password.id_for_label}}">Password</label>
            {% if user_form.errors.password %}
                {% for error in user_form.errors.password %}
                    <div class="text-danger error-message">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-floating mb-3">
            {{user_form.confirm_password }}
            <label for={{user_form.confirm_password.id_for_label}}>Confirm Password</label>
            {% if user_form.errors.confirm_password %}
                {% for error in user_form.errors.confirm_password %}
                    <div class="text-danger error-message">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="d-none" id="submitErrorMessage">
            <div class="text-center text-danger mb-3">Error sending message!</div>
        </div>
        <div class="d-grid">
            <button class="btn btn-primary btn-lg " id="submitButton" type="submit">Register</button>
        </div>
    </form>
</div>
<script>
    // Get all error message elements
    const errorMessages = document.querySelectorAll('.error-message');

    // Hide error messages after 3 seconds
    errorMessages.forEach(message => {
        setTimeout(() => {
            message.classList.add('hide');
        }, 3000);
    });
</script>

{% endblock %}